 <%- include('./partials/head') %> 
<link rel="stylesheet" href="/styles/page-styles.css">
<body>
    <h1 class="logo">Lord of the Rings</h1>
    <%- include('./partials/navbar') %> 

    <h1 class="error-message">Whoops! Couldn't find that</h1>
</body>
</html>