<%- include('./partials/head') %> 
<link rel="stylesheet" href="/styles/page-styles.css">
<body>
    <h1 class="logo">Lord of the Rings</h1>

    <%- include('./partials/navbar') %> 

    <h3 class="quote">
        “I wish it need not have happened in my time," said Frodo.
        "So do I," said Gandalf, "and so do all who live to see such times. 
        But that is not for them to decide. All we have to decide is what 
        to do with the time that is given us.” - <em>The Fellowship of the Ring</em>
    </h3>
    
</body>
</html>